.main,
.copyright{
    background-color: #1f2937;
    width: auto;
}
.main{
    
    display: flex;
    height: 600px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    
}
.copyright{
    height: 100px;
}
.info,
.sign-up{
    background-color: white;
    width: auto;
    height: 250px;
}
.info{
    height: 600px;
}
.sign-up{
    height: 500px;
}
.quote{
    background-color: #e5e7eb;
    width: auto;
    height: 500px;
}
.bg{
    display: flex;
    flex-direction: column;
}
.logo{
    padding: 20px;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    align-items: center;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 70%;
}
.spacer{
    width: 1200px;
}
.links{
    display: flex;
}
.link{
    padding: 20px;
    font-size: 18px;
    color: #e5e7eb;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
p{
    font-size: 18px;
    color: #e5e7eb;
    
}
button{
    background-color: #3882f6;
    border-radius: 5px;
    border: 2px solid transparent;
    color: #f9faf8;
    width: 120px;
    margin-top: 20px;
}
.placeholder{
    background-color: grey;
    display: flex;
    height: 250px;
    width: 600px;
    align-items: center;
    justify-content: center;
}
.blurb{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.read{
    flex: 0 1 50%;
}
