.main,
.copyright{
    background-color: #1f2937;
    width: auto;
}
.main{
    
    display: flex;
    height: 600px;
    justify-content: center;
    
}
.copyright{
    height: 100px;
}
.info,
.sign-up{
    background-color: white;
    width: auto;
    height: 250px;
}
.info{
    height: 600px;
}
.sign-up{
    height: 500px;
}
.quote{
    background-color: #e5e7eb;
    width: auto;
    height: 500px;
}
.bg{
    display: flex;
    flex-direction: column;
}
.logo{
    padding: 20px;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    align-items: center;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 70%;
}
.spacer{
    width: 1200px;
}
.links{
    display: flex;
}
.link{
    padding: 20px;
    font-size: 18px;
    color: #e5e7eb;
}